{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}DGT Ruta {{ dgt_ruta.clave }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('DGT Ruta ' + dgt_ruta.clave) %}
        {{ topbar.button_previous('DGT Rutas', url_for('dgt_rutas.list_active')) }}
        {% if current_user.can_edit('DGT RUTAS') %}
            {{ topbar.button_edit('Editar', url_for('dgt_rutas.edit', dgt_ruta_id=dgt_ruta.id)) }}
        {% endif %}
        {% if current_user.can_admin('DGT RUTAS') %}
            {% if dgt_ruta.estatus == 'A' %}{{ topbar.button_delete('Eliminar', url_for('dgt_rutas.delete', dgt_ruta_id=dgt_ruta.id)) }}{% endif %}
            {% if dgt_ruta.estatus == 'B' %}{{ topbar.button_recover('Recuperar', url_for('dgt_rutas.recover', dgt_ruta_id=dgt_ruta.id)) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=dgt_ruta.estatus) %}
        <div class="row">
            {{ detail.label_value_big('Clave', dgt_ruta.clave) }}
            {% set dgt_deposito_texto = dgt_ruta.dgt_deposito.clave + ' (' + dgt_ruta.dgt_deposito.descripcion + ')' %}
            {% if current_user.can_view('DGT DEPOSITOS') %}
                {{ detail.label_value('Depósito', dgt_deposito_texto, url_for('dgt_depositos.detail', dgt_deposito_id=dgt_ruta.dgt_deposito_id)) }}
            {% else %}
                {{ detail.label_value('Depósito', dgt_deposito_texto) }}
            {% endif %}
            {{ detail.label_value('Autoridad Clave', dgt_ruta.autoridad_clave) }}
            {% set dgt_tipo_texto = dgt_ruta.dgt_tipo.clave + ' (' + dgt_ruta.dgt_tipo.descripcion + ')' %}
            {% if current_user.can_view('DGT TIPOS') %}
                {{ detail.label_value('Tipo', dgt_tipo_texto, url_for('dgt_tipos.detail', dgt_tipo_id=dgt_ruta.dgt_tipo_id)) }}
            {% else %}
                {{ detail.label_value('Tipo', dgt_tipo_texto) }}
            {% endif %}
            {{ detail.label_value('Directorio', dgt_ruta.directorio) }}
        </div>
    {% endcall %}
    {% if dgt_ruta.dgt_deposito.proposito == 'ENTREGAS' and current_user.can_view('DGT ENTREGAS') and dgt_ruta.estatus == 'A' %}
        {% call detail.card('Entregas') %}
            <!-- Filtros DGT Entregas -->
            <div class="row">
                <div class="col">
                    <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosDTDgtEntregas.buscar(); return false;">
                        <div class="col-3">
                            <div class="form-floating">
                                <input id="filtroExpediente" type="text" class="form-control" aria-label="Expediente" style="text-transform: uppercase;">
                                <label for="filtroExpediente">Expediente</label>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-floating">
                                <input id="filtroDescripcion" type="text" class="form-control" aria-label="Descripción" style="text-transform: uppercase;">
                                <label for="filtroDescripcion">Descripción</label>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosDTDgtEntregas.buscar(); return false;" id="button-buscar"><span class="mdi mdi-magnify"></span></button>
                            <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosDTDgtEntregas.limpiar();" id="button-limpiar"><span class="mdi mdi-broom"></span></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Datatable DGT Entregas -->
            <table id="dgt_entregas_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Archivo</th>
                        <th>Autoridad</th>
                        <th>Expediente</th>
                        <th>Descripción</th>
                        <th>Actualizado</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
    {% if dgt_ruta.dgt_deposito.proposito == 'DIGITALIZACIONES' and current_user.can_view('DGT DIGITALIZACIONES') and dgt_ruta.estatus == 'A' %}
        {% call detail.card('Digitalizaciones') %}
            <!-- Filtros DGT Digitalizaciones -->
            <div class="row">
                <div class="col">
                    <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosDTDgtDigitalizaciones.buscar(); return false;">
                        <div class="col-3">
                            <div class="form-floating">
                                <input id="filtroExpediente" type="text" class="form-control" aria-label="Expediente" style="text-transform: uppercase;">
                                <label for="filtroExpediente">Expediente</label>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="form-floating">
                                <input id="filtroDescripcion" type="text" class="form-control" aria-label="Descripción" style="text-transform: uppercase;">
                                <label for="filtroDescripcion">Descripción</label>
                            </div>
                        </div>
                        <div class="col-4 text-end">
                            <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosDTDgtDigitalizaciones.buscar(); return false;" id="button-buscar"><span class="mdi mdi-magnify"></span></button>
                            <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosDTDgtDigitalizaciones.limpiar();" id="button-limpiar"><span class="mdi mdi-broom"></span></button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- Datatable DGT Digitalizaciones -->
            <table id="dgt_digitalizaciones_datatable" class="table display nowrap" style="width:100%">
                <thead>
                    <tr>
                        <th>Archivo</th>
                        <th>Autoridad</th>
                        <th>Expediente</th>
                        <th>Descripción</th>
                        <th>Actualizado</th>
                    </tr>
                </thead>
            </table>
        {% endcall %}
    {% endif %}
{% endblock %}

{% block custom_javascript %}
    {% if current_user.can_admin('DGT RUTAS') %}
        {% if dgt_ruta.estatus == 'A' %}{{ modals.custom_javascript_delete('Eliminar', '¿Eliminar DGT Ruta ' + dgt_ruta.clave + '?') }}{% endif %}
        {% if dgt_ruta.estatus == 'B' %}{{ modals.custom_javascript_recover('Recuperar', '¿Recuperar DGT Ruta ' + dgt_ruta.clave + '?') }}{% endif %}
    {% endif %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    {% if dgt_ruta.dgt_deposito.proposito == 'ENTREGAS' and current_user.can_view('DGT ENTREGAS') and dgt_ruta.estatus == 'A' %}
        <script>
            // DataTable DGT Entregas
            const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
            let configDTDgtEntregas = constructorDataTable.config();
            configDTDgtEntregas['ajax']['url'] = "{{ url_for('dgt_entregas.datatable_json') }}";
            configDTDgtEntregas['ajax']['data'] = { 'estatus': "A", 'dgt_ruta_id': "{{ dgt_ruta.id }}" };
            configDTDgtEntregas['columns'] = [
                { data: "detalle" },
                { data: "autoridad_clave" },
                { data: "expediente" },
                { data: "descripcion" },
                { data: "archivo_actualizado" }
            ];
            configDTDgtEntregas['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.archivo_nombre + '</a>';
                    }
                }
            ];
            // Filtros DGT Entregas
            const filtrosDTDgtEntregas = new FiltrosDataTable('#dgt_entregas_datatable', configDTDgtEntregas);
            filtrosDTDgtEntregas.agregarInput('filtroExpediente', 'expediente');
            filtrosDTDgtEntregas.agregarInput('filtroDescripcion', 'descripcion');
            filtrosDTDgtEntregas.precargar();
        </script>
    {% endif %}
    {% if dgt_ruta.dgt_deposito.proposito == 'DIGITALIZACIONES' and current_user.can_view('DGT DIGITALIZACIONES') and dgt_ruta.estatus == 'A' %}
        <script>
            // DataTable DGT Digitalizaciones
            const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
            let configDTDgtDigitalizaciones = constructorDataTable.config();
            configDTDgtDigitalizaciones['ajax']['url'] = "{{ url_for('dgt_digitalizaciones.datatable_json') }}";
            configDTDgtDigitalizaciones['ajax']['data'] = { 'estatus': "A", 'dgt_ruta_id': "{{ dgt_ruta.id }}" };
            configDTDgtDigitalizaciones['columns'] = [
                { data: "detalle" },
                { data: "autoridad_clave" },
                { data: "expediente" },
                { data: "descripcion" },
                { data: "archivo_actualizado" }
            ];
            configDTDgtDigitalizaciones['columnDefs'] = [
                {
                    targets: 0, // detalle
                    data: null,
                    render: function(data, type, row, meta) {
                        return '<a href="' + data.url + '">' + data.archivo_nombre + '</a>';
                    }
                }
            ];
            // Filtros DGT Digitalizaciones
            const filtrosDTDgtDigitalizaciones = new FiltrosDataTable('#dgt_digitalizaciones_datatable', configDTDgtDigitalizaciones);
            filtrosDTDgtDigitalizaciones.agregarInput('filtroExpediente', 'expediente');
            filtrosDTDgtDigitalizaciones.agregarInput('filtroDescripcion', 'descripcion');
            filtrosDTDgtDigitalizaciones.precargar();
        </script>
    {% endif %}
{% endblock %}
