{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}DGT Tipo {{ dgt_tipo.clave }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('DGT Tipo ' + dgt_tipo.clave) %}
        {{ topbar.button_previous('DGT Tipos', url_for('dgt_tipos.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(estatus=dgt_tipo.estatus) %}
        <div class="row">
            {{ detail.label_value_big('Clave', dgt_tipo.clave) }}
            {{ detail.label_value('Descripción', dgt_tipo.descripcion) }}
        </div>
    {% endcall %}
{% endblock %}
