{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Dashboard Digitalizaciones{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Dashboard Digitalizaciones') %}
        {{ topbar.button_previous('Digitalizaciones', url_for('vsp_digitalizaciones.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(title='Gráfico copiados/enviados por materia y año') %}
        <table id="dashboard_datatable" class="table display nowrap" style="width:100%">
            <div id="dashboard_chart"></div>
        </table>
    {% endcall %}
    {% call detail.card(title='Totales copiados/enviados por materia y año') %}
        <table id="dashboard_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Año</th>
                    <th>Materia A</th>
                    <th>Materia B</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
