{% extends 'layouts/app.jinja2' %}
{% import 'macros/detail.jinja2' as detail %}
{% import 'macros/modals.jinja2' as modals %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Dashboard Digitalizaciones{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons('Dashboard Digitalizaciones') %}
        {{ topbar.button_previous('Digitalizaciones', url_for('vsp_digitalizaciones.list_active')) }}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call detail.card(title='Gráfico copiados/enviados por materia y año') %}
        <div id="dashboard_chart"></div>
    {% endcall %}
    {% call detail.card(title='Totales copiados/enviados por materia y año') %}
        <table id="dashboard_datatable" class="table display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Año</th>
                    <th>Materia A</th>
                    <th>Materia B</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script>
    class ConfigDataTable {
      // Constructor
      constructor(csrf_token) {
        this.csrf_token = csrf_token;
      }
      // Entregar configuracion
      config() {
        return {
          processing: true,
          serverSide: true,
          ordering: false,
          searching: false,
          responsive: true,
          scrollX: true,
          ajax: {
            url: null,
            type: "GET",
            headers: { "X-CSRF-TOKEN": this.csrf_token },
            dataType: "json",
            dataSrc: "data",
            data: null,
          },
          columns: null,
          columnDefs: null,
          language: {
            lengthMenu: "Mostrar _MENU_",
            search: "Filtrar:",
            zeroRecords: "No se encontraron registros",
            info: "Total de registros _TOTAL_ ",
            infoEmpty: "No hay registros",
            infoFiltered: "(_TOTAL_ filtrados de _MAX_ registros)",
            oPaginate: {
              sFirst: "Primero",
              sLast: "Último",
              sNext: "Siguiente",
              sPrevious: "Anterior",
            },
          },
        };
      }
    }
    </script>
    <script>
      // DataTable Dashboard
      const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
      let configDataTable = constructorDataTable.config();
      configDataTable['ajax']['url'] = "{{ url_for('vsp_digitalizaciones.get_totales_por_materia_por_anio_json') }}";
      $('#dashboard_datatable').DataTable(configDataTable);
    </script>
{% endblock %}
