{% extends 'layouts/app.jinja2' %}
{% import 'macros/list.jinja2' as list %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}{{ titulo }}{% endblock %}

{% block topbar_actions %}
    {% call topbar.page_buttons(titulo) %}
        {{ topbar.button_dashboard('Tablero', url_for('dgt_digitalizaciones.dashboard')) }}
        {% if current_user.can_admin('DGT DIGITALIZACIONES') %}
            {% if estatus == 'A' %}{{ topbar.button_list_inactive('Inactivos', url_for('dgt_digitalizaciones.list_inactive')) }}{% endif %}
            {% if estatus == 'B' %}{{ topbar.button_list_active('Activos', url_for('dgt_digitalizaciones.list_active')) }}{% endif %}
        {% endif %}
    {% endcall %}
{% endblock %}

{% block content %}
    {% call list.card() %}
        <!-- Filtros DGT Digitalizaciones -->
        <div class="row">
            <div class="col">
                <form class="row g-1 mb-3" id="filtradorForm" onsubmit="filtrosDgtDigitalizaciones.buscar(); return false;">
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroDgtDigitalizacionAutoridadClave" type="text" class="form-control" aria-label="Autoridad" style="text-transform: uppercase;">
                            <label for="filtroDgtDigitalizacionAutoridadClave">Autoridad</label>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-floating">
                            <input id="filtroDgtDigitalizacionExpediente" type="text" class="form-control" aria-label="Expediente" style="text-transform: uppercase;">
                            <label for="filtroDgtDigitalizacionExpediente">Expediente</label>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-floating">
                            <input id="filtroDgtDigitalizacionDescripcion" type="text" class="form-control" aria-label="Descripción" style="text-transform: uppercase;">
                            <label for="filtroDgtDigitalizacionDescripcion">Descripción</label>
                        </div>
                    </div>
                    <div class="col-4 text-end">
                        <button title="Buscar" class="btn btn-primary btn-lg" onclick="filtrosDgtDigitalizaciones.buscar(); return false;" id="button-buscar"><span class="mdi mdi-magnify"></span></button>
                        <button title="Limpiar" class="btn btn-warning btn-lg" type="reset" onclick="filtrosDgtDigitalizaciones.limpiar();" id="button-limpiar"><span class="mdi mdi-broom"></span></button>
                    </div>
                </form>
            </div>
        </div>
        <!-- Datatable DGT Digitalizaciones -->
        <table id="dgt_digitalizaciones_datatable" class="table {% if estatus == 'B'%}table-dark{% endif %} display nowrap" style="width:100%">
            <thead>
                <tr>
                    <th>Archivo</th>
                    <th>Autoridad</th>
                    <th>Expediente</th>
                    <th>Descripción</th>
                    <th>Actualizado</th>
                    <th>Último evento</th>
                </tr>
            </thead>
        </table>
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
    <script src="/static/js/datatables-constructor.js"></script>
    <script src="/static/js/datatables-filtros.js"></script>
    <script>
        // DataTable DGT Digitalizaciones
        const constructorDataTable = new ConfigDataTable( '{{ csrf_token() }}' );
        let configDTDgtDigitalizaciones = constructorDataTable.config();
        configDTDgtDigitalizaciones['ajax']['url'] = "{{ url_for('dgt_digitalizaciones.datatable_json') }}";
        configDTDgtDigitalizaciones['ajax']['data'] = {{ filtros }};
        configDTDgtDigitalizaciones['columns'] = [
            { data: 'detalle' },
            { data: 'autoridad_clave' },
            { data: 'expediente' },
            { data: 'descripcion' },
            { data: 'archivo_actualizado' },
            { data: 'ultimo_evento' }
        ];
        configDTDgtDigitalizaciones['columnDefs'] = [
            {
                targets: 0, // detalle
                data: null,
                render: function(data, type, row, meta) {
                    return '<a href="' + data.url + '">' + data.archivo_nombre + '</a>';
                }
            },
            {
                targets: 5, // ultimo_evento
                data: null,
                render: function(data, type, row, meta) {
                    if (!data.evento) {
                        return '';
                    }
                    let bgcolor = 'bg-secondary';
                    switch (data.evento) {
                        case 'CREADO':     bgcolor = 'bg-success';           break;
                        case 'ELIMINADO':  bgcolor = 'bg-danger';            break;
                        case 'MODIFICADO': bgcolor = 'bg-warning text-dark'; break;
                    }
                    let html = '<span class="badge ' + bgcolor + '">' + data.evento + '</span>';
                    // if (data.creado) {
                    //     html += ' <small>' + data.creado + '</small>';
                    // }
                    return html;
                }
            }
        ];
        // Filtros DGT Digitalizaciones
        const filtrosDgtDigitalizaciones = new FiltrosDataTable('#dgt_digitalizaciones_datatable', configDTDgtDigitalizaciones);
        filtrosDgtDigitalizaciones.agregarInput('filtroDgtDigitalizacionAutoridadClave', 'autoridad_clave');
        filtrosDgtDigitalizaciones.agregarInput('filtroDgtDigitalizacionExpediente', 'expediente');
        filtrosDgtDigitalizaciones.agregarInput('filtroDgtDigitalizacionDescripcion', 'descripcion');
        filtrosDgtDigitalizaciones.precargar();
    </script>
{% endblock %}
