{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'macros/topbar.jinja2' as topbar %}

{% block title %}Nuevo Lista de Acuerdos{% endblock %}

{% block topbar_actions %}
    {{ topbar.page('Nuevo Lista de Acuerdos') }}
{% endblock %}

{% block content %}
    {% call f.card() %}
        {% call f.form_tag('listas_de_aceurdos.new', fid='lista_de_acuerdo_form') %}
            {% call f.form_group(form.descripcion) %}{% endcall %}
            {% call f.form_group(form.guardar) %}{% endcall %}
        {% endcall %}
    {% endcall %}
{% endblock %}

{% block custom_javascript %}
{% endblock %}
